body {
  font-family: 'Bitter', serif;
}

html,
body {
  padding: 10px 20px;
}

img {
  display: block;
  border-radius: 10px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 10px;
}

p,
li {
  max-width: 600px;
}

iframe {
  width: 320px;
  height: 180px;
  border-radius: 10px;
  outline: none;
  border: none;
}

a:visited {
  color: #0076e5;
}

td:first-child {
  padding-right: 20px;
}
