body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
  padding: 10px 20px;
}

img {
  border-radius: 10px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 10px;
}

iframe {
  width: 320px;
  height: 180px;
  border-radius: 10px;
  outline: none;
  border: none;
}